@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    font-size: medium;
  }
  .scrollbar-column::-webkit-scrollbar {
    @apply w-1;
    @apply h-1;
  }

  .scrollbar-column {
    scrollbar-gutter: stable;
  }

  ::-webkit-scrollbar {
    @apply w-2;
    @apply h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-3 rounded;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-5 rounded-lg;
  }
}

@layer components {
  /* Sprite Animatin */
  .sprite {
    @apply animate-spriteAnimation;
    width: 21.2rem;
    height: 6rem;
    background: url('https://ik.imagekit.io/AliaV14/loading.webp?updatedAt=1710413581144');
    background-position: 0 0;
    background-size: 100% 3000%;
  }

  /* Layout Css*/
  .ant-pro-top-nav-header {
    @apply bg-teal-4;
  }

  .bigger-outline {
    .anticon {
      @apply text-lg;
    }
  }

  .left-corner-triangle {
    @apply w-0 h-0 border-solid border-[theme('colors.teal-2')_transparent_transparent_transparent];

    border-width: 25rem 25rem 0rem 0rem;
  }

  .left-corner-trapezoid {
    width: 30rem;
    height: 0;
    border-top: 25rem solid theme('colors.teal-2');
    border-right: 25rem solid transparent;
    border-left: 0 solid transparent;
  }

  .left-corner-trapezoid-background {
    width: 50rem;
    height: 0;
    border-top: 31rem solid theme('colors.neutral-9');
    border-right: 25rem solid transparent;
    border-left: 0 solid transparent;
  }

  .right-corner-trapezoid {
    width: 85%;
    height: 0rem;
    border-right: 0 solid transparent;

    border-bottom: 25rem solid theme('colors.neutral-1');
    border-left: 25rem solid transparent;

    &:after {
      @apply z-20;
      position: absolute;
      bottom: -25rem;
      display: block;
      width: 100%;
      height: 0rem;
      border-right: 0 solid transparent;

      border-bottom: 3rem solid theme('colors.teal-2');
      border-left: 3rem solid transparent;
      content: '';
    }
  }

  .arrow-btn-left {
    border: 2px solid black;

    border-right: 0;
    border-radius: 9999px 0 0 9999px;
    @apply pr-0 h-10 bg-neutral-1;

    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: black;
      border: 2px solid black;
      border-right: 0;
    }
    &:after {
      @apply p-0 m-0 bg-neutral-1;
      position: absolute;
      top: -2px;
      right: 0px;
      display: block;
      width: 40px;
      height: 38px;
      border-top: 2px solid black;
      border-right: 2px solid black;
      transform: translate(50%, 0) skewX(-45deg);
      content: '';

      clip-path: polygon(0% 0, 100% 0, 100% 100%, 80% 100%);
    }

    > span {
      display: block;
    }
  }

  .arrow-btn-right {
    border: 2px solid black;

    border-left: 0;
    border-radius: 0 9999px 9999px 0;
    @apply pl-0 h-10 bg-neutral-1;

    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: black;
      border: 2px solid black;
      border-left: 0;
    }
    &:before {
      @apply p-0 m-0 bg-neutral-1 z-[1];
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 40px;
      height: 38px;
      border-bottom: 2px solid black;
      border-left: 2px solid black;
      transform: translate(-50%, 0) skewX(-45deg);
      content: '';
      clip-path: polygon(0 0, 10% 0, 100% 100%, 0 100%);
    }

    > span {
      display: block;
    }
  }

  .swipe-nav-button {
    @apply pl-0 h-10 w-24 bg-neutral-1;
    border: 2px solid black;

    transform: skew(-45deg);

    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: black;
      border: 2px solid black;
    }
  }

  /* BUTTON */
  .btn-medium {
    @apply font-sans;
  }

  .btn-large {
    @apply h-12 font-sans text-body-1-medium;
  }

  .btn-default {
    @apply border-teal-4 text-teal-4;
    transition: all 1s ease-out;
    &:not(:disabled):not(.ant-btn-disabled):hover {
      @apply border-teal-6 text-teal-6;
      box-shadow: 2px 3px theme('colors.teal-6');
    }
  }

  .btn-primary {
    @apply bg-teal-4 text-neutral-1;
    &:not(:disabled):not(.ant-btn-disabled):hover {
      @apply bg-teal-6 text-neutral-1;
      box-shadow: 2px 3px theme('colors.teal-1');
    }
  }

  /* FORM */
  .custom-antd-form-small {
    @apply w-full font-sans;

    input {
      @apply !font-sans !text-body-2-semibold;
    }

    .ant-row {
      @apply gap-1 flex;
      .ant-form-item-label {
        @apply lg:text-right font-sans text-teal-7 text-body-2-regular p-0;
        label {
          @apply h-10 text-teal-4;
          &:after {
            @apply font-sans visible m-0;
            color: theme('colors.teal-4');
            font-family: SimSun, sans;
            content: ':';
          }
        }
      }
    }

    .ant-form-item {
      @apply mb-0 pb-4;

      .ant-form-item-row {
        .ant-form-item-label {
          @apply font-sans;

          .ant-form-item-required {
            &:before {
              @apply font-sans text-body-1-medium visible m-0 pr-1;
              font-family: SimSun, sans;
              content: '*';
            }

            &:after {
            }
          }
          > label {
            @apply text-body-2-medium;
            &:before {
              @apply font-sans text-body-1-medium invisible m-0 pr-1;
              font-family: SimSun, sans;
              content: '*';
            }
          }
        }

        .ant-form-item-control {
          .ant-form-item-control-input-content {
            @apply text-body-2-regular;
            .ant-input {
              @apply rounded-[4px]  !bg-transparent align-baseline font-sans text-body-2-semibold;

              &:focus {
                @apply border-teal-5;
              }

              &:focus-within {
                @apply border-teal-5;
              }

              &:hover {
                @apply border-teal-3;
              }
            }
            .ant-input-affix-wrapper-lg {
              @apply rounded-[4px] py-0;

              &:focus-within {
                @apply border-teal-5;
              }

              &:focus {
                @apply border-teal-5;
              }

              &:hover {
                @apply border-teal-3;
              }
            }

            .ant-picker {
              @apply w-full;
              &:hover,
              &:focus-within,
              &:focus {
                @apply border-teal-5;
              }
            }
            .ant-picker-focused {
              @apply border-teal-1;
            }
          }
        }
      }
    }
  }

  .custom-ant-form {
    @apply w-full;
    @apply font-sans;

    .ant-form-item {
      @apply mb-0 pb-4;

      .ant-form-item-row {
        .ant-form-item-label {
          @apply font-sans;

          .ant-form-item-required {
            &:before {
              content: unset;
            }

            &:after {
              @apply font-sans text-body-1-medium visible pl-1 m-0;
              color: theme('colors.teal-4');
              font-family: SimSun, sans;
              content: '*';
            }
          }
          > label {
            @apply text-body-1-medium;
          }
        }

        .ant-form-item-control {
          .ant-form-item-control-input-content {
            @apply text-body-2-regular;
            .ant-input {
              @apply rounded-[4px] h-12 !bg-transparent align-baseline;

              &:focus {
                @apply border-teal-5;
              }

              &:focus-within {
                @apply border-teal-5;
              }

              &:hover {
                @apply border-teal-3;
              }
            }
            .ant-input-affix-wrapper-lg {
              @apply rounded-[4px] py-0;

              &:focus-within {
                @apply border-teal-5;
              }

              &:focus {
                @apply border-teal-5;
              }

              &:hover {
                @apply border-teal-3;
              }
            }
          }
        }
      }
    }
  }
  .custom-ant-form-small {
    @apply w-full;
    @apply font-sans;

    .ant-form-item {
      @apply mb-0 pb-4;

      .ant-form-item-row {
        .ant-form-item-label {
          @apply font-sans;

          .ant-form-item-required {
            &:before {
              content: unset;
            }

            &:after {
              @apply font-sans text-body-1-medium visible pl-1 m-0;
              color: theme('colors.teal-4');
              font-family: SimSun, sans;
              content: '*';
            }
          }
          > label {
            @apply text-body-2-medium;
          }
        }

        .ant-form-item-control {
          .ant-form-item-control-input-content {
            @apply text-body-2-regular;
            .ant-input {
              @apply rounded-[4px] h-8 !bg-transparent align-baseline;

              &:focus {
                @apply border-teal-5;
              }

              &:focus-within {
                @apply border-teal-5;
              }

              &:hover {
                @apply border-teal-3;
              }
            }
            .ant-input-affix-wrapper-lg {
              @apply rounded-[4px] py-0;

              &:focus-within {
                @apply border-teal-5;
              }

              &:focus {
                @apply border-teal-5;
              }

              &:hover {
                @apply border-teal-3;
              }
            }
          }
        }
      }
    }
  }

  /* MENU */
  .category-menu {
    @apply rounded-md font-sans h-full;

    .ant-menu-submenu {
      @apply pb-1 bg-white;

      .ant-menu-sub.ant-menu-inline {
        @apply bg-neutral-1;
      }

      .ant-menu-submenu-title {
        @apply font-semibold;
      }

      .ant-menu-item {
        &:not(.ant-menu-item-selected):active {
          @apply bg-teal-50;
        }
        &:not(.ant-menu-item-selected):hover {
          @apply bg-teal-50 text-teal-1;

          &:before {
            opacity: 1;
          }
        }
        &:before {
          @apply animate-flicker;

          position: absolute;
          left: 12px;
          display: inline-block;
          padding: 4px;
          border: solid theme(colors.teal-4);
          border-width: 0 1px 1px 0;
          transform: rotate(-45deg) translateX(0);
          opacity: 0;
          transition: all 0.5s ease-out;
          content: '';
        }
        @apply my-0 transition-all;
      }
    }

    .ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        @apply text-teal-6 font-bold;
      }

      .ant-menu-sub {
        .ant-menu-item-selected {
          @apply bg-white text-teal-4 font-medium;

          &:before {
            @apply animate-flicker;
            opacity: 1;
          }
        }
      }
    }
  }

  /* CARD */
  .railing-card {
    @apply font-sans;

    .ant-card-head {
      @apply border-0;

      .ant-card-head-wrapper {
        .ant-card-head-title {
          @apply text-body-2-semibold;
        }
      }
    }

    .ant-card-body {
      @apply pt-0;
    }
  }

  /* RATE */
  .custom-star {
    .ant-rate-star {
    }
    .ant-rate-star-full {
      @apply animate-pulse;
    }
  }

  /* INPUT */

  .custom-input {
    @apply rounded-[4px] py-0 gap-2;

    &:focus-within {
      @apply border-teal-5;
    }

    &:focus {
      @apply border-teal-5;
    }

    &:not(.ant-input-affix-wrapper-disabled):hover {
      @apply border-teal-3;
    }

    > input.ant-input {
      @apply rounded-[4px] h-12 !bg-transparent text-body-1-medium font-sans text-teal-6;

      &:focus {
        @apply border-teal-5;
      }

      &:focus-within {
        @apply border-teal-5;
      }

      &:hover {
        @apply border-teal-3;
      }
    }
  }

  /* Property Card (For Store and Property) */
  .property-card {
    transition: all 0.5s ease-in-out;
    &:hover {
      .card-information-container {
        @apply h-full rounded-[28px] bg-teal-1;

        transform: rotate(-11deg) translateX(-24px) translateY(56px) scale(1.5);
        transition: all 0.5s ease-out;

        .card-information {
          height: calc(100% - 200px);
          transform: rotate(11deg) scale(calc(2 / 3)) translateX(42px) translateY(-64px);

          transition: all 0.5s ease-out;
          .card-title-section {
            transition: all 0.5s ease-out;
            .avatar {
              @apply block opacity-100;
              transform: translateY(-50%);
              transition: all 0.5s ease-out;
            }
            .title {
              @apply bg-teal-1;
              width: calc(100% - 76px);
              transition: all 0.5s ease-out;

              h2 {
                @apply text-neutral-1;
              }

              button {
                @apply block opacity-100;

                transition: all 0.25s ease-out;
              }
            }
          }

          .card-price {
            transition: all 0.5 ease-out;

            .card-rating {
              @apply block;
            }

            .card-tag {
              @apply text-neutral-1;
            }

            .card-price {
              @apply text-neutral-1;
            }
          }
        }
      }
    }
  }

  /* Sidebar Menu */
  .custom-container-collapsed {
    transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
    .ant-menu-inline-collapsed {
      @apply w-14;
    }
  }
  .custom-sidebar {
    @apply text-teal-7 font-sans text-body-2-regular bg-transparent flex-grow;
    @apply flex flex-col justify-center gap-2;
    border-inline-end: none !important;

    .anticon {
      @apply !text-body-1-regular;
    }

    .ant-menu-item {
      @apply gap-[6px] m-0 w-full !h-14 !pl-5 py-2;

      &:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
        @apply text-teal-6;
      }
      & > span {
        margin-inline-start: 0;
      }
    }

    .ant-menu-item-selected {
      @apply text-teal-7 bg-teal-100;
    }

    .ant-menu-submenu-title {
      @apply gap-[6px] m-0 w-full !h-14 !pl-5 bg-neutral-1 py-2;

      &:not(.ant-menu-submenu-selected):hover {
        @apply bg-teal-200;
      }
    }
    .ant-menu-submenu-open {
      @apply flex flex-col gap-2;
    }
    .ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        @apply gap-4 m-0 w-full !h-14 !pl-5 bg-neutral-1 py-4 text-teal-7 text-body-2-semibold;
      }
    }

    .ant-menu-sub.ant-menu-inline {
      .ant-menu-item {
      }
      @apply !pl-6 gap-2;
      background: unset !important;
    }
  }

  /* Steps */
  .custom-steps {
    .ant-steps-item-content {
      @apply font-sans !w-60;
      .ant-steps-item-title {
        @apply text-body-2-regular;
      }
    }

    .ant-steps-item-icon {
      @apply bg-teal-100;
      margin-inline-start: 102px !important;

      span {
        @apply font-sans;
      }

      svg {
        @apply text-teal-7;
      }
    }

    .ant-steps-item-tail {
      margin-inline-start: 118px !important;
      &:after {
      }
    }
    .ant-steps-item-process {
      .ant-steps-item-container {
        .ant-steps-item-icon {
          @apply bg-teal-1 border-none;
          svg {
            @apply text-neutral-1;
          }
        }
      }
    }

    .ant-steps-item-finish {
      .ant-steps-item-container {
        .ant-steps-item-tail {
          &:after {
            @apply bg-teal-1;
          }
        }
        .ant-steps-item-icon {
          @apply bg-teal-100;
          svg {
            @apply text-teal-7;
          }
        }
      }
    }
  }

  /* Upload */
  .custom-ant-upload {
    .ant-upload {
      @apply bg-teal-50 p-0;
    }
    .ant-upload-drag p.ant-upload-drag-icon .anticon {
      @apply text-heading-3 text-teal-5;
    }
    .ant-upload-drag {
      @apply border-teal-1;
      &:not(.ant-upload-disabled):hover {
        @apply border-teal-7;
      }
    }
    .ant-upload-disabled {
      @apply bg-neutral-2;
      .ant-upload-drag {
        @apply border-neutral-1;
      }
    }
  }
}
