@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    font-size: medium;
  }
  .scrollbar-column::-webkit-scrollbar {
    @apply w-1;
    @apply h-1;
  }

  .scrollbar-column {
    scrollbar-gutter: stable;
  }

  ::-webkit-scrollbar {
    @apply w-2;
    @apply h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-3 rounded;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-5 rounded-lg;
  }
}

@layer components {
  .ant-pro-top-nav-header {
    @apply bg-teal-4;
  }

  .bigger-outline {
    .anticon {
      @apply text-lg;
    }
  }

  .left-corner-triangle {
    @apply w-0 h-0 border-solid border-[theme('colors.teal-2')_transparent_transparent_transparent];

    border-width: 25rem 25rem 0rem 0rem;
  }

  .left-corner-trapezoid {
    width: 30rem;
    height: 0;
    border-top: 25rem solid theme('colors.teal-2');
    border-right: 25rem solid transparent;
    border-left: 0 solid transparent;
  }

  .left-corner-trapezoid-background {
    width: 50rem;
    height: 0;
    border-top: 31rem solid theme('colors.neutral-9');
    border-right: 25rem solid transparent;
    border-left: 0 solid transparent;
  }

  .right-corner-trapezoid {
    width: 85%;
    height: 0rem;
    border-right: 0 solid transparent;

    border-bottom: 25rem solid theme('colors.neutral-1');
    border-left: 25rem solid transparent;

    &:after {
      @apply z-20;
      position: absolute;
      bottom: -25rem;
      display: block;
      width: 100%;
      height: 0rem;
      border-right: 0 solid transparent;

      border-bottom: 3rem solid theme('colors.teal-2');
      border-left: 3rem solid transparent;
      content: '';
    }
  }

  .arrow-btn-left {
    border: 2px solid black;

    border-right: 0;
    border-radius: 9999px 0 0 9999px;
    @apply pr-0 h-10 bg-neutral-1;

    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: black;
      border: 2px solid black;
      border-right: 0;
    }
    &:after {
      @apply p-0 m-0 bg-neutral-1;
      position: absolute;
      top: -2px;
      right: 0px;
      display: block;
      width: 40px;
      height: 38px;
      border-top: 2px solid black;
      border-right: 2px solid black;
      transform: translate(50%, 0) skewX(-45deg);
      content: '';

      clip-path: polygon(0% 0, 100% 0, 100% 100%, 80% 100%);
    }

    > span {
      display: block;
    }
  }

  .arrow-btn-right {
    border: 2px solid black;

    border-left: 0;
    border-radius: 0 9999px 9999px 0;
    @apply pl-0 h-10 bg-neutral-1;

    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: black;
      border: 2px solid black;
      border-left: 0;
    }
    &:before {
      @apply p-0 m-0 bg-neutral-1 z-[1];
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 40px;
      height: 38px;
      border-bottom: 2px solid black;
      border-left: 2px solid black;
      transform: translate(-50%, 0) skewX(-45deg);
      content: '';
      clip-path: polygon(0 0, 10% 0, 100% 100%, 0 100%);
    }

    > span {
      display: block;
    }
  }

  .swipe-nav-button {
    @apply pl-0 h-10 w-24 bg-neutral-1;
    border: 2px solid black;

    transform: skew(-45deg);

    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: black;
      border: 2px solid black;
    }
  }

  /* BUTTON */
  .btn-medium {
    @apply font-sans;
  }

  .btn-large {
    @apply h-12 font-sans text-body-1-medium;
  }

  .btn-default {
    @apply border-teal-4 text-teal-4;
    transition: all 1s ease-out;
    &:not(:disabled):not(.ant-btn-disabled):hover {
      @apply border-teal-6 text-teal-6;
      box-shadow: 2px 3px theme('colors.teal-6');
    }
  }

  .btn-primary {
    @apply bg-teal-4 text-neutral-1;
    &:not(:disabled):not(.ant-btn-disabled):hover {
      @apply bg-teal-6 text-neutral-1;
      box-shadow: 2px 3px theme('colors.teal-1');
    }
  }


  /* FORM */
  .custom-ant-form {
    @apply w-full;
    @apply font-sans;

    .ant-form-item {
      @apply mb-0 pb-4;

      .ant-form-item-row {
        .ant-form-item-label {
          @apply font-sans;

          .ant-form-item-required {
            &:before {
              content: unset;
            }

            &:after {
              @apply font-sans text-body-1-medium visible pl-1 m-0;
              color: theme('colors.teal-4');
              font-family: SimSun, sans;
              content: '*';
            }
          }
          > label {
            @apply text-body-1-medium;
          }
        }

        .ant-form-item-control {
          .ant-form-item-control-input-content {
            @apply text-body-2-regular;
            .ant-input {
              @apply rounded-[4px] h-12 !bg-transparent align-baseline;

              &:focus {
                @apply border-teal-5;
              }

              &:focus-within {
                @apply border-teal-5;
              }

              &:hover {
                @apply border-teal-3;
              }
            }
            .ant-input-affix-wrapper-lg {
              @apply rounded-[4px] py-0;

              &:focus-within {
                @apply border-teal-5;
              }

              &:focus {
                @apply border-teal-5;
              }

              &:hover {
                @apply border-teal-3;
              }
            }
          }
        }
      }
    }
  }
}
