@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@menu-height: 56px;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji' !important;
  p {
    margin: 0;
    word-wrap: break-word;
    @apply font-sans;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 200px 200px 100px white inset !important;
    box-shadow: 200px 200px 100px white inset !important;
  }
}

*::selection {
  @apply text-neutral-1 bg-teal-6;
}

.ant-layout {
  @apply font-sans;
}

.ant-pro-layout {
  .ant-pro-layout-bg-list {
    background: unset;
    @apply font-sans bg-[#F5F6FA];
  }
}

.ant-layout-header {
  @apply sticky top-0 left-0;
  display: inline-flex;
  width: max-content;
}

.ant-pro-top-nav-header {
  @apply flex bg-teal-4 text-neutral-1 font-sans h-14 justify-center px-4;
  @apply sticky top-0 left-0;
  .ant-pro-top-nav-header-main {
    @apply max-w-7xl w-full p-0;
    .ant-pro-top-nav-header-main-left {
      .ant-pro-top-nav-header-logo {
        img {
          filter: drop-shadow(0 0px 2px #fff);
        }
        h1 {
          @apply text-heading-4;
        }
      }
    }
    .ant-pro-top-nav-header-menu {
      @apply pl-8;
      .ant-menu {
        .ant-menu-item {
          @apply h-14 bg-transparent;

          &:hover {
            @apply text-neutral-1 bg-transparent;

            &:after {
              transform: skew(45deg);
              opacity: 1;
            }
          }
          &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 56px;
            background: rgba(255, 255, 255, 0.1);
            transform: translate(calc(-1 * @menu-height), calc(-1 * @menu-height)) skew(45deg);
            opacity: 0;
            transition: all 0.5s ease-in;
          }
          .ant-menu-title-content {
            @apply h-full z-10 relative;
            .ant-pro-base-menu-horizontal-item-title {
              @apply h-full font-sans text-body-2-semibold;
            }
          }
        }

        .ant-menu-item-selected {
          @apply bg-transparent;
          &:after {
            @apply -z-0;
            position: absolute;
            left: 0;
            width: 100%;
            height: 56px;
            background: rgba(255, 255, 255, 0.3);
            transform: skew(45deg);
            opacity: 1;
            transition: all 2s ease-in-out;
          }
        }
      }
    }
    .ant-pro-global-header-right-content {
      @apply z-10;
    }
  }
  &:after {
    @apply -z-0;
    position: absolute;
    right: 0;
    width: 125px;
    height: 0;
    border-top: 56px solid theme('colors.teal-2');
    border-left: 56px solid transparent;
    content: '';
  }
  &:before {
    @apply -z-0;
    position: absolute;
    left: 120px;
    width: 28px;
    height: 56px;
    background: theme('colors.teal-2');
    transform: skew(45deg);
    content: '';
    @media (max-width: 1280px) {
      right: 120px;
      left: unset;
    }
  }
}

.menu-item {
  @apply h-14 w-9 bg-transparent;

  &:hover {
    @apply text-neutral-1 bg-transparent;

    &:after {
      transform: skew(45deg);
      opacity: 1;
    }
  }
  &:after {
    @apply z-0;
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 56px;
    background: rgba(255, 255, 255, 0.1);
    transform: translate(calc(-1 * @menu-height), calc(-1 * @menu-height)) skew(45deg);
    opacity: 0;
    transition: all 0.5s ease-in;
    content: '';
  }
}
.ant-pro-global-header-header-actions-avatar {
  display: unset;
  height: full;

  div {
    height: 100%;

    &:hover {
      @apply bg-transparent;
    }
  }
}

.ant-dropdown-trigger {
  @apply relative h-full;
  &:hover {
    &:after {
      transform: skew(45deg);
      opacity: 1;
    }
  }
  &:after {
    @apply z-0;
    position: absolute;
    left: 0;
    display: block;
    width: 110%;
    height: 56px;
    background: rgba(255, 255, 255, 0.1);
    transform: translate(calc(-1 * @menu-height), calc(-1 * @menu-height)) skew(45deg);
    opacity: 0;
    transition: all 0.5s ease-in;
    content: '';
  }
}

.ant-dropdown {
  .ant-dropdown-menu {
    @apply font-sans;
    .ant-dropdown-menu-item {
    }
    .ant-dropdown-menu-item-selected {
      color: theme('colors.neutral-1');
      background-color: theme('colors.teal-1');

      &:hover {
        background-color: theme('colors.teal-2');
      }
    }
  }
}

.ant-pro-page-container {
  .ant-page-header {
    @apply hidden;
  }
}

.ant-spin {
  .ant-spin-dot-item {
    @apply bg-teal-1;
  }
}
